<div class="css-auqgo3">
  <div class="css-nx4o62">
    <div class="css-1iefl20">
      <section role="main" class="css-y1ezbx">
        <div class="css-146wmq">
          <span aria-label="Atlassian" role="img" class="css-a3l9jr">
            <img src="/assets/logo/Atlassian-horizontal-blue-rgb.svg" width="220px" alt="" />
          </span>
          <div class="css-321lzd">
            <h5>Đăng nhập để tiếp tục</h5>
          </div>
        </div>
        <div>
          <span></span>
          <form id="form-login" class="css-r44k6v">
            <div class="css-env1z2">
              <div class="css-cnfgt3">
                <div class="css-xcejzt">
                  <div class="css-q5x77e">
                    <div role="presentation" class="css-1s25hsw">
                      <p-inputGroup>
                        <p-inputGroupAddon>
                            <i class="pi pi-envelope"></i>
                        </p-inputGroupAddon>
                        <span class="p-float-label">
                          <input pInputText id="emailAddress" type="email" [(ngModel)]="user.emailAddress" require />
                          <label for="emailAddress">Nhập email của bạn</label>
                        </span>
                      </p-inputGroup>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Nhập Mật Khẩu -->
              <div class="field-group password-field" [ngClass]="{ hidden: !showPassword }">
                <div class="css-wwk9zm">
                  <div class="css-xcejzt">
                    <div class="css-q5x77e">
                      <div role="presentation" class="css-1s25hsw">
                        <p-inputGroup>
                          <p-inputGroupAddon>
                              <i class="pi pi-key"></i>
                          </p-inputGroupAddon>
                          <span class="p-float-label">
                            <input type="{{ showPassword ? 'text' : 'password' }}" pInputText id="password" type="password" [(ngModel)]="user.password" require />
                            <label for="password">Nhập mật khẩu của bạn</label>
                          </span>
                        </p-inputGroup>
                      </div>
                    </div>
                  </div>
                  <span class="css-g42x0s">
                    <span aria-hidden="true" class="css-snhnyn">
                      <span nz-icon nzType="eye" nzTheme="outline" (click)="togglePasswordVisibility()"></span>
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <button class="css-1w9zxjf css-1edgkow" (click)="login()" type="submit">
              <span class="css-178ag6o">Tiếp tục</span>
            </button>
          </form>
        </div>
        <div class="google-login social-login css-1n7nx3r">
          <span class="css-1n7nx3r-before">Hoặc tiếp tục với:</span>
          <div class="css-1vymulm">
            <div class="css-1vymulm">
              <button id="google-auth-button" aria-busy="false" class="css-8x8i7r css-q2jxx8" tabindex="0" type="button">
                <span class="css-bwxjrz">
                  <img src="https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/5.0.519/google-logo.5867462c.svg" alt="" />
                </span>
                <span class="css-178ag6o">Google</span>
              </button>
            </div>
          </div>
        </div>
        <div class="css-9bikgd">
          <ul>
            <li>
              <a id="resetPassword" routerLink="/user/project">Bạn không đăng nhập được?</a>
            </li>
            <p class="css-1x34ed1">•</p>
            <li>
              <a id="signup" class="primary-action" routerLink="/user/signup">Tạo tài khoản</a>
            </li>
          </ul>
        </div>
        <div class="css-pj36kz"></div>
        <div class="css-q9nxjt">
          <footer class="css-1tn479n">
            <span aria-label="Atlassian" role="img" class="css-1eu9lrx" >
              <img class="js-lazy-image js-lazy-image-handled" src="https://accounts.meister.co/assets/logos/meister-27fd015ca8f73c140b4ededc62aaf1d76a876bf2cdbe88d3b2429d585edf0ad7.svg" width="138" height="32">
            </span>
            <div class="css-ftz4sr">
              Một tài khoản cho Jira, Confluence, Trello và
              <a id="atlassian-account-link-more-short" target="_blank" rel="noreferrer noopener"
                class="css-1gc25jr">sản phẩm khác</a>.
            </div>
          </footer>
          <ul class="fine-print">
            <li>
              <a target="_blank" rel="noreferrer noopener" class="css-1gc25jr">Chính sách quyền riêng tư</a>
            </li>
            <p class="css-1x34ed1">•</p>
            <li>
              <a target="_blank" rel="noreferrer noopener" class="css-1gc25jr">Lưu ý dành cho người dùng</a>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
<nz-alert *ngIf="loginSuccess" nzType="success" nzMessage="Đăng nhập tài khoản thành công" nzShowIcon></nz-alert>
<nz-alert *ngIf="loginError" nzType="error" nzMessage="Đăng nhập tài khoản không thành công" nzShowIcon></nz-alert>
