.navbar.sticky {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05), 0 5px 30px 0 rgba(0, 0, 0, 0.05);
}

.navbar {
  padding: 13px 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  z-index: 999999;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  position: static;
}
.navigation-container {
  z-index: 999999;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
}
.me-auto {
  padding: 0 20px;
  justify-content: flex-start;
}

.nav-link {
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  color: #3D474D;
  text-decoration: none;
  font-weight: 600;
  font-family: "Avenir", "Avenir Next", "Segoe UI", Helvetica, Arial, sans-serif;
}

.navbar .me-auto .nav-link {
  padding: 8px 20px;
}

.h-flex-grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 6px 30px;
}

ul li {
  list-style-type: none;
}

.td-none {
  text-decoration: none !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fs-l {
  font-size: 17px !important;
}

a {
  color: #00AAFF;
}

.button.large.blue,
.button.xlarge.blue,
.button.xxlarge.blue {
  background-color: #00AAFF;
  box-shadow: 0 10px 30px -10px #00AAFF;
  color: white;
}

.button.with-icon {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.button.large {
  line-height: 48px;
  height: 48px;
  padding: 0 30px;
  font-size: 17px;
  border-radius: 24px;
}

button.blue,
button.default,
.button.blue,
.button.default {
  border-color: #00AAFF;
  color: white;
  background-color: #00AAFF;
}

.button {
  -webkit-appearance: none;
  font-family: "Avenir", "Avenir Next", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 700;
  background-color: white;
  color: #333C40;
  line-height: 36px;
  height: 36px;
  padding: 0 20px;
  font-size: 15px;
  border-radius: 18px;
  border: none;
  resize: none;
  cursor: pointer;
  display: inline-block;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.07), 0 5px 10px -5px rgba(0, 0, 0, 0.15);
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.icon.arrow.white {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.icon {
  display: inline-block;
  margin-left: 15px !important;
}

.nav-item {
  position: relative;

  .nav-link {
    display: block;
    margin: 5px;
    color: #000;
    text-decoration: none;

    &:hover {
      background-color: rgba(0, 0, 0, .05);
      border-radius: 20px;
      line-height: 22px;
      padding: 8px 20px;
    }
  }

  svg {
    position: absolute;
    top: 55%;
    right: 5px;
    transform: translateY(-50%);
  }
}
.content {
  position: relative;
  width: 100%;
  padding: 0 25px;
  font-size: 17px;
}

.ta-center {
  text-align: center !important;
}
.subheading {
  font-size: 32px;
  font-weight: 500;
  line-height: 120%;
  color: rgba(61, 71, 77, 0.5);
  letter-spacing: normal;
}
h1, .h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -2px;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.h1 span {
  color: rgba(61, 71, 77, 0.5);
  line-height: 110%;
}
div[column] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.align-items-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.button.xlarge {
  line-height: 60px;
  height: 60px;
  padding: 0 40px;
  font-size: 21px;
  border-radius: 30px;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mr-15 {
  margin-right: 15px !important;
}
img.hero {
  max-width: 100%;
}

.proof-box {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  padding: 30px 20px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 250px;
  margin: 0 10px 30px 10px;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.proof-box h4 {
  font-size: 21px;
  font-weight: 300;
  text-align: center;
  line-height: 110%;
}
.proof-box h4 span {
  font-size: 21px;
  font-weight: 700;
  display: block;
  line-height: 140%;
}
























































$font-size-xs: 24px;
$font-size-h1: 48px;
@media (max-width: 576px) {
  .display-1 {
    font-size: $font-size-xs;
  }
  .display-2 {
    font-size: $font-size-h1;
  }
}
@media (max-width: 940px) {
  img.hero {
    width: 100%;
    height: auto;
}
}
.js-lazy-image.js-lazy-image-handled {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
