.navbar.sticky {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05), 0 5px 30px 0 rgba(0, 0, 0, 0.05);
}

.navbar {
  padding: 13px 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  z-index: 999999;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  position: static;
}
.navigation-container {
  z-index: 999999;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
}
.me-auto {
  padding: 0 20px;
  justify-content: flex-start;
}

.nav-link {
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  color: #3D474D;
  text-decoration: none;
  font-weight: 600;
  font-family: "Avenir", "Avenir Next", "Segoe UI", Helvetica, Arial, sans-serif;
}

.navbar .me-auto .nav-link {
  padding: 8px 20px;
}

.h-flex-grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  // margin: 6px 30px;
}
a#signin {
  margin-right: 30px;
}
.top-navigation {
  position: static;
}
ul li {
  list-style-type: none;
}

.td-none {
  text-decoration: none !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fs-l {
  font-size: 17px !important;
}

a {
  color: #00AAFF;
}

.button.large.blue,
.button.xlarge.blue,
.button.xxlarge.blue {
  background-color: #00AAFF;
  box-shadow: 0 10px 30px -10px #00AAFF;
  color: white;
}

.button.with-icon {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.button.large {
  line-height: 48px;
  height: 48px;
  padding: 0 30px;
  font-size: 17px;
  border-radius: 24px;
}

button.blue,
button.default,
.button.blue,
.button.default {
  border-color: #00AAFF;
  color: white;
  background-color: #00AAFF;
}

.button {
  font-family: "Avenir", "Avenir Next", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 700;
  background-color: white;
  color: #333C40;
  line-height: 36px;
  height: 36px;
  padding: 0 20px;
  font-size: 15px;
  border-radius: 18px;
  border: none;
  resize: none;
  cursor: pointer;
  display: inline-block;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.07), 0 5px 10px -5px rgba(0, 0, 0, 0.15);
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.icon.arrow.white {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.icon {
  display: inline-block;
  margin-left: 15px !important;
}

.nav-item {
  position: relative;

  .nav-link {
    display: block;
    margin: 5px;
    color: #000;
    text-decoration: none;

    &:hover {
      background-color: rgba(0, 0, 0, .05);
      border-radius: 20px;
      line-height: 22px;
      padding: 8px 20px;
    }
  }

  svg {
    position: absolute;
    top: 55%;
    right: 5px;
    transform: translateY(-50%);
  }
}

.ta-center {
  text-align: center !important;
}
.subheading {
  font-size: 32px;
  font-weight: 500;
  line-height: 120%;
  color: rgba(61, 71, 77, 0.5);
  letter-spacing: normal;
}
h1, .h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -2px;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.h1 span {
  color: rgba(61, 71, 77, 0.5);
  line-height: 110%;
}
div[column] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.align-items-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.button.xlarge {
  line-height: 60px;
  height: 60px;
  padding: 0 40px;
  font-size: 21px;
  border-radius: 30px;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mr-15 {
  margin-right: 15px !important;
}
img.hero {
  max-width: 100%;
}
.proof-box {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  padding: 30px 20px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 250px;
  margin: 0 10px 30px 10px;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.proof-box h4 {
  font-size: 21px;
  font-weight: 300;
  text-align: center;
  line-height: 110%;
}
.proof-box h4 span {
  font-size: 21px;
  font-weight: 700;
  display: block;
  line-height: 140%;
}
.content .intro {
  font-size: 21px;
  color: rgba(61, 71, 77, 0.5);
  margin-bottom: 40px;
}
section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 80px 0;
}
p {
  line-height: 150%;
  margin-bottom: 1em;
}
.content {
  max-width: 1170px;
  position: relative;
  width: 100%;
  padding: 0 25px;
  font-size: 17px;
}
.tabs:not(.horizontal) {
  -webkit-flex: 0 1 280px;
  -ms-flex: 0 1 280px;
  flex: 0 1 280px;
}
.tabs a.icon:hover, .tabs a.icon.active {
  color: #00AAFF;
}
.tabs a.icon {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #EDF1F2;
}
.content a {
  text-decoration: none;
}
.tabs a {
  padding: 25px 0;
  width: 100%;
  font-weight: 500;
  text-decoration: none;
}
.tabs h4, .tabs span, .tabs a {
  color: #8A9499;
  line-height: 140%;
}
.tabs a.icon:hover img, .tabs a.icon.active img {
  -webkit-filter: invert(46%) sepia(31%) saturate(2845%) hue-rotate(173deg) brightness(103%) contrast(106%);
  filter: invert(46%) sepia(31%) saturate(2845%) hue-rotate(173deg) brightness(103%) contrast(106%);
}
.tabs a.icon img {
  width: 36px;
  height: 36px;
  margin-right: 20px;
  -webkit-filter: invert(62%) sepia(9%) saturate(277%) hue-rotate(156deg) brightness(91%) contrast(93%);
  filter: invert(62%) sepia(9%) saturate(277%) hue-rotate(156deg) brightness(91%) contrast(93%);
}
.tabs a.icon:hover h4, .tabs a.icon:hover span, .tabs a.icon.active h4, .tabs a.icon.active span {
  color: #00AAFF;
}
.tabs h4, .tabs span, .tabs a {
  color: #8A9499;
  line-height: 140%;
}
.img-overlay {
  border-radius: 15px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.07), 0 5px 10px -5px rgba(0,0,0,0.15);
  color: white;
  font-size: 16px;
  padding: 30px;
}
.bg-navy {
  background-color: #4070FF !important;
}
.img-overlay strong {
  display: block;
  margin-bottom: 10px;
}
strong {
  font-weight: 700;
}
.button.xxlarge {
  line-height: 72px;
  height: 72px;
  padding: 0 40px;
  font-size: 21px;
  border-radius: 36px;
}
.feature-icon {
  background-color: #333C40;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.feature-icon img {
  width: 32px;
  height: 32px;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.icon.arrow {
  background-image: url(//cdn4.meistertask.com/assets/meister_assets/icons/ArrowRight-c50bb81….svg);
  width: 18px;
  -webkit-filter: invert(46%) sepia(31%) saturate(2845%) hue-rotate(173deg) brightness(103%) contrast(106%);
  filter: invert(46%) sepia(31%) saturate(2845%) hue-rotate(173deg) brightness(103%) contrast(106%);
}
.icon {
  display: inline-block;
}
.box-wrapper div.text {
  padding: 80px 0 60px 60px;
}
.box-wrapper>div {
  width: 50%;
}
h3, .h3 {
  font-size: 34px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -1px;
}
.box-wrapper>div {
  width: 50%;
}
.box-wrapper img {
  width: 100%;
}
.box-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 40px;
  overflow: hidden;
}
.box.small {
  border-radius: 20px;
  padding: 25px;
}
.fs-xl {
  font-size: 21px !important;
}
.filter-navy {
  -webkit-filter: invert(38%) sepia(98%) saturate(2578%) hue-rotate(215deg) brightness(100%) contrast(108%) !important;
  filter: invert(38%) sepia(98%) saturate(2578%) hue-rotate(215deg) brightness(100%) contrast(108%) !important;
}
.filter-turquoise {
  -webkit-filter: invert(97%) sepia(74%) saturate(5867%) hue-rotate(126deg) brightness(90%) contrast(87%) !important;
  filter: invert(97%) sepia(74%) saturate(5867%) hue-rotate(126deg) brightness(90%) contrast(87%) !important;
}
.filter-orange {
  -webkit-filter: invert(76%) sepia(62%) saturate(3483%) hue-rotate(359deg) brightness(101%) contrast(107%) !important;
  filter: invert(76%) sepia(62%) saturate(3483%) hue-rotate(359deg) brightness(101%) contrast(107%) !important;
}
.filter-green {
  -webkit-filter: invert(76%) sepia(12%) saturate(7473%) hue-rotate(67deg) brightness(96%) contrast(77%) !important;
  filter: invert(76%) sepia(12%) saturate(7473%) hue-rotate(67deg) brightness(96%) contrast(77%) !important;
}
.filter-purple {
  -webkit-filter: invert(61%) sepia(42%) saturate(5159%) hue-rotate(222deg) brightness(99%) contrast(92%) !important;
  filter: invert(61%) sepia(42%) saturate(5159%) hue-rotate(222deg) brightness(99%) contrast(92%) !important;
}
footer {
  background-color: #3D474D;
}
.footer-wrapper {
  max-width: 940px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}
.sitemap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-top: 40px;
  padding-bottom: 40px;
}
.sitemap .hidden-children {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.sitemap .hidden-children .sitemap-heading {
  color: white;
  font-weight: 600;
  margin-bottom: 0;
}
.sitemap .hidden-children .sitemap-heading, .sitemap .hidden-children a {
  text-decoration: none;
  white-space: nowrap;
  font-size: 17px;
  line-height: 140%;
}
.sitemap .hidden-children a {
  color: #8A9499;
  font-weight: 400;
}
.sitemap .hidden-children .sitemap-heading, .sitemap .hidden-children a {
  text-decoration: none;
  white-space: nowrap;
  font-size: 17px;
  line-height: 140%;
}
.footer-wrapper {
  max-width: 940px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}
.subfooter {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.subfooter a {
  font-weight: 400;
  text-decoration: underline;
}
.subfooter a, .subfooter span {
  font-size: 15px;
  color: #8A9499;
  margin: 10px 12px;
}
.ms-5 {
  margin-left: 4.5rem !important;
}
.ms-4 {
  margin-left: 3.5rem !important;
}
.mb-5 {
  margin-bottom: 2.5rem !important;
}
.site-header .links-wrapper .menu-item .popover:first-child, .site-header .links-wrapper .menu-item .popover:nth-child(2) {
  left: 0;
  -webkit-transform: none;
  transform: none;
}

.popover.active {
  visibility: visible;
  opacity: 1;
}
.site-header .popover {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  border-radius: 20px;
  box-shadow: 0 40px 800px 0 rgba(0,0,0,0.15);
}
.popover {
  background-color: white;
  padding: 20px 0;
  position: absolute;
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  border-radius: 15px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: opacity 0.3s ease-in-out;
}
.popover.active>.sub-menu.mega {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  margin-bottom: 0;
}

.two-columns>.popover>.sub-menu.mega {
  grid-template-columns: repeat(2, 1fr);
}
.sub-menu.mega {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 21px;
  padding: 45px 45px 30px 45px;
  -webkit-transform: translate(0, -3rem);
  transform: translate(0, -3rem);
  margin-bottom: -18rem;
  transition: margin-bottom 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: margin-bottom 0.3s ease-out, transform 0.3s ease-out;
  transition: margin-bottom 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.sub-menu {
  padding: 0 20px;
}
.mega-heading {
  color: #8A9499;
  font-size: 21px;
  font-weight: 400;
}
.mega-heading>span {
  display: block;
  margin-bottom: 30px;
}
ul.sub-menu.mega {
  grid-template-columns: repeat(2, 1fr);
}
ul.mega-section.two-columns {
  grid-template-columns: repeat(2, 1fr);
}
.popover .mega-section {
  padding: 0;
}
.mega-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 24px;
}
.mega-icon-link {
  width: 290px;
  margin-bottom: 15px;
}
.sub-menu .mega-icon-link a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 15px;
  border-radius: 15px;
  color: #3D474D;
  text-decoration: none;
}

.sub-menu a {
  white-space: nowrap;
  display: block;
  text-decoration: none !important;
}
.mr-15 {
  margin-right: 15px !important;
}
.filter-blue {
  -webkit-filter: invert(46%) sepia(31%) saturate(2845%) hue-rotate(173deg) brightness(103%) contrast(106%) !important;
  filter: invert(46%) sepia(31%) saturate(2845%) hue-rotate(173deg) brightness(103%) contrast(106%) !important;
}
.mega-icon-link .heading {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1px;
  font-size: 17px;
  font-weight: 700;
  white-space: nowrap;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.icon.arrow.grey500 {
  -webkit-filter: invert(62%) sepia(9%) saturate(277%) hue-rotate(156deg) brightness(91%) contrast(93%);
  filter: invert(62%) sepia(9%) saturate(277%) hue-rotate(156deg) brightness(91%) contrast(93%);
}
.mega-icon-link .description {
  display: block;
  color: #8A9499;
  font-size: 15px;
  font-weight: 400;
  white-space: normal;
}
.popover .mega-section {
  padding: 0;
}
.mega-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 24px;
}
.mega-button {
  margin-bottom: 10px;
}
.sub-menu .mega-button a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 260px;
  height: 56px;
  padding: 15px 25px 15px 25px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.03);
  color: #3D474D;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
}
ul.sub-menu.mega.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-light.ant-dropdown-menu-vertical {
  grid-template-columns: repeat(2, 1fr);
}


$font-size-xs: 24px;
$font-size-h1: 48px;
@media (max-width: 576px) {
  .display-1 {
    font-size: $font-size-xs;
  }
  .display-2 {
    font-size: $font-size-h1;
  }
}
@media (max-width: 940px) {
  img.hero {
    width: 100%;
    height: auto;
}
}
.js-lazy-image.js-lazy-image-handled {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
@media only screen and (max-width: 680px){
  .resp-flex-row {
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}
}
@media only screen and (max-width: 680px){
  h2, .h2 {
    font-size: 40px;
}
}
@media (max-width: 576px) {
  .justify-content-center-sm {
      justify-content: center !important;
      text-align: center !important;
  }
}
@media only screen and (max-width: 680px){
  .resp-flex-row {
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}
}
@media (max-width: 375px) {
  .d-flex .justify-content-between .align-items-start > div {
      width: 100%;
      flex: 0 0 100%;
  }
}
@media only screen and (max-width: 680px){
  .box-wrapper {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 20px;
}
}
@media only screen and (max-width: 680px){
  .box-wrapper div.text {
    padding: 30px 30px 0 30px;
}
}
@media only screen and (max-width: 680px){
  .box-wrapper>div {
    width: 100%;
}
}
@media only screen and (max-width: 680px){
  h3, .h3 {
    font-size: 36px;
}
}
@media only screen and (max-width: 680px){
  .h-hidden-phone {
    display: none !important;
}
}
@media only screen and (max-width: 680px){
  .box-wrapper div.image {
    padding: 0 30px;
}
}
@media only screen and (max-width: 680px){
  .box-wrapper>div {
    width: 100%;
}
}
@media (min-width: 576px) {
  .sitemap.justify-content-center.text-white {
    display: block;
  }
}
