.ttOWyS1tO7O5b_ {
  width: 250px;
}
@media (max-width: 576px) {
  .bg-primary{
    text-align: center;
  }
}
.bxgKMAm3lq5BpA {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  padding: 6px 12px;
  text-decoration: none;
  white-space: normal;
  box-shadow: none;
  border: none;
  font-weight: 500;
}
@media (max-width: 576px) {
  .bxgKMAm3lq5BpA {
    margin-left: 4rem;
    text-align: center;
  }
}
.AFpizOdxDMPHLk {
  margin-bottom: 20px;
  margin-right: 44px;
  color: #626f86;
}

.GIrJV_pUPjcTln {
  width: 45vw;
}
@media (max-width: 576px) {
  .GIrJV_pUPjcTln {
    width: 100vw;
  }
}
.GIrJV_pUPjcTln .leftFormContent {
  max-width: 340px;
  margin: auto;
  padding: 245px 0;
}
.GIrJV_pUPjcTln .leftFormContent h1 {
  font-size: 34px;
  font-weight: 500;
}
@media (max-width: 576px) {
  .GIrJV_pUPjcTln .leftFormContent h1 {
    font-size: 20px;
    margin-left: 5%;
  }
}
.GIrJV_pUPjcTln .leftFormContent p {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .GIrJV_pUPjcTln .leftFormContent p {
    margin-left: 5%;
    text-align: center;
  }
}

.col-sm-7{
  background: linear-gradient(209.9deg,  #00000000 6.69%,  #e9f2ff 91.18%);
  height: 55rem;
}
@media (max-width: 576px) {
  .col-sm-7 {
    display: none;
  }
}

.lB02038omIOdVe img{
  width: 75%;
  height: auto;
}

.pP73X9uYLf8Nsy {
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pP73X9uYLf8Nsy .dxiXF8eUq86eHc {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  padding: 10em 0;
  height: calc(100% - 4em);
}
.pP73X9uYLf8Nsy .dxiXF8eUq86eHc svg {
  margin: 0 5em;
  width: 100%;
  height: 100%;
}
.top-50 {
  top: 30% !important;
}
.ms-5 {
  margin-left: 9rem !important;
}
